/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: #000;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  @import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Wix+Madefor+Display&display=swap");
}

*::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
