button{
  background-color: #E50914;
  color: #fff;
  font-weight: bold;
}

button:hover{
  background-color: #ffffff;
  color: rgb(251, 2, 2);
  font-weight: bold;
}

img{
  width: 100%;
}
h5{
  color: #fff;
}
